@import url('https://fonts.googleapis.com/css?family=Arima+Madurai');

$bg_var: rgb(117, 114, 106);
$font_std:'Arima Madurai', cursive;
$font_size:5vw;
$position_var:center;
$bord_std:3px rgb(39, 95, 218) solid;

$ht_std:200px;
$wd_std:150px;
$ul_std:none;
$div_std:left;
$row_std:row;
$wid:90%;
$inline_std:inline-flex;